html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*  || custom variables */

:root {
--ff-primary: 'IBM Plex Sans', sans-serif;

--clr-aqua: #66E2DC;
--clr-coral: #FA7453;
--clr-sunrise: #FFB964;
--clr-white: #FCFAF9;
--clr-black: #191826;

--fs-body-large: 1.25rem;
--fs-body-medium: 1.125rem;
--fs-body-small: 1rem;

--lh-body-large: 2.125rem;
--lh-body-medium: 1.75rem;
--lh-body-small: 1.625rem;

--fs-H1-large: 5.5rem;
--fs-H1-medium: 4rem;
--fs-H1-small: 2.5rem;

--lh-H1-large: 5.5rem;
--lh-H1-medium: 4rem;
--lh-H1-small: 3rem;

--ls-H1-large: -0.0625rem;
--ls-H1-medium: -0.045rem;
--ls-H1-small: -0.03rem;

--fs-H2-large: 2.5rem;
--fs-H2-small: 2rem;

--border-radius: 0.75rem;


}