html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*  || custom variables */

:root {
--ff-primary: 'IBM Plex Sans', sans-serif;

--clr-aqua: #66E2DC;
--clr-coral: #FA7453;
--clr-sunrise: #FFB964;
--clr-white: #FCFAF9;
--clr-black: #191826;

--fs-body-large: 1.25rem;
--fs-body-medium: 1.125rem;
--fs-body-small: 1rem;

--lh-body-large: 2.125rem;
--lh-body-medium: 1.75rem;
--lh-body-small: 1.625rem;

--fs-H1-large: 5.5rem;
--fs-H1-medium: 4rem;
--fs-H1-small: 2.5rem;

--lh-H1-large: 5.5rem;
--lh-H1-medium: 4rem;
--lh-H1-small: 3rem;

--ls-H1-large: -0.0625rem;
--ls-H1-medium: -0.045rem;
--ls-H1-small: -0.03rem;

--fs-H2-large: 2.5rem;
--fs-H2-small: 2rem;

--border-radius: 0.75rem;

--fw-bold: 700;
--fw-regular: 400;

--padding-lr: 1.5rem;

}


body {
    font-family: var(--ff-primary);
    color: var(--clr-black);
    background-image: url(assets/bg-main-mobile.png);
    background-repeat: no-repeat;
    background-position: left -25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper {
    max-width: 30rem;
}

header {
    padding: 2.5rem var(--padding-lr);
}

.hero-content {
    margin: 4rem 0rem 8rem;
}

h1 {
    font-size: var(--fs-H1-small);
    font-weight: var(--fw-bold);
    margin-bottom: 1.25rem;
}

p {
    font-size: var(--fs-body-small);
    line-height: var(--lh-body-small);
}

main {
    background-color: var(--clr-black);
    border-radius: var(--border-radius) var(--border-radius) 0;
    position: relative;
    background-image: url(assets/bg-pattern-2.svg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 75%;
    height: 38rem;
    width: 100%;
}

.app {
    position: absolute;
    top: -7rem;
    left: 50%;
    transform: translate(-50%,0)
}

#phone {
    width: 13rem;
}

section {
    background-color: var(--clr-coral);
    position: absolute;
    top: 65%;
    z-index: 99;
    width: 100%;
    border-radius: var(--border-radius) var(--border-radius);
    padding: 3rem 2.5rem;
    color: var(--clr-white);
}

h2 {
    font-size: var(--fs-H2-small);
    font-weight: var(--fw-bold);
    margin-bottom: 0.75rem;
}

section > p {
    font-size: var(--fs-body-medium);
}

.price-rate {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 2.5rem 0;
}

.price {
    font-size: 4rem;
    font-weight: var(--fw-bold);
}

.price + p {
    font-size: var(--fs-body-large);
}

.download-btns {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

a {
    display: flex;
    border-radius: var(--border-radius);
    padding: 1.5rem;
    justify-content: center;
    gap: 0.75rem;
    align-items: center;
    text-decoration: none;
    font-weight: var(--fw-bold);
}

.apple-btn {
    background-color: var(--clr-black);
    color: var(--clr-white);
}

#apple-svg {
    fill: var(--clr-white);
}

.android-btn {
    background-color: var(--clr-white);
    color: var(--clr-black);
}

#android-btn {
    fill: var(--clr-black)
}

footer {
    padding: 23rem var(--padding-lr) 5rem;
}

footer > img {
    margin-bottom: 1.5rem;
}

.footer-text {
    margin-bottom: 2.5rem;
}

.footer-email {
    font-weight: var(--fw-bold);
}

.social-media {
    display: flex;
    gap: 1rem;
}


/* || Tablet */
@media (min-width: 48em) {
    body { 
        background-image: url(assets/bg-pattern-1.svg), url(assets/bg-main-tablet.png);
        background-size: 35%, 100%;
        background-repeat: no-repeat;
        background-position: 105% -3%, center top;
    }

    .wrapper {
        max-width: 52rem;
    }

    header {
        padding: 2.5rem 2.5rem;
    }

    .bg-pattern-1 {
        position: absolute;
        top: -15%;
        right: -7%;
        scale: 80%;
        z-index: -1;
    }

    .hero-content {
        margin: 6rem 0rem 12rem;
    }

    h1 {
        font-size: var(--fs-H1-medium);
        line-height: var(--lh-H1-medium);
        letter-spacing: var(--ls-H1-medium);
        margin-right: clamp(19rem, 40vw, 26rem);

    }

    h1 + p {
        margin-right: 20vw;

    }

    p {
        font-size: var(--fs-body-medium);
        line-height: var(--lh-body-medium);

    }

    main {
        background-color: var(--clr-black);
        border-radius: var(--border-radius);
        background-size: 45%;
        background-position: 60% -3rem;
        
        height: 38rem;
        width: calc(100vw - 5rem);
    }

    .app {
        position: absolute;
        top: 8rem;
        left: 30%;
        transform: translate(-50%, -50%);
    }

    #phone {
        width: 17rem;
    }

    section {
        top: 27rem;
        right: 37%;
        width: 55%;
        border-radius: var(--border-radius);
        padding: 3rem 2.5rem;
        color: var(--clr-white);
        transform: translate(50%, -50%);
    }

    footer {
        padding: 15rem 2.5rem 5rem;
    }

    .footer-content {
        display: flex;
        align-items: center;
    }

    .footer-text {
        margin-bottom:0;
    }
}

